.current-page {
  visibility: visible;
  z-index: 1;
}

.moveToRight {
  animation: moveToRight 1s both;
}

.moveFromRight {
  animation: moveFromRight 1s both;
}

.moveToLeft {
  animation: moveToLeft 1s both;
}

.moveFromLeft {
  animation: moveFromLeft 1s both;
}

@keyframes moveToLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes moveToRight {
  to {
    transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}




/* main wrapper */
.blob-wrapper {
  background: white;
  position: absolute;
  display: grid;
}

/* blob containers h1 + svg */
.blob {
  display: grid;
}


/* quick media query for a vw 2 column to 4 collumn layout */
@media all and (min-width:500px) {
  
     .blob-wrapper {
      grid-template-columns: repeat(4, 25vw);
      grid-auto-rows: 16vw;
    }

    .blob {
    grid-template-columns: repeat(10 , 2.3vw);
   grid-template-rows: repeat(10 , 2.2vw);
  }
}


/* reset svg to width of container, used blobmaker.app to make this and the viewbox comes with some padding */
svg {
  max-width: 100%;
  height: auto;
}

/* global headers */
h1 {
 margin:0;
 /*font-family: 'Abril Fatface', cursive;*/
 font-family: 'arial';

 font-size: 14vw;
 font-weight: 400;
}

@media all and (min-width:500px) {
  h1 {
    font-size: 8vw;
  }
}

.blob h1 { 
  grid-column: 3 / -1;
  grid-row: 3 / -1;
}

.blob svg { 
  grid-column: 1 / span 8;
  grid-row-start: 2;
  /*fill: #FE840E;*/
  transition: 0.3s all;
}


/* shuffle position blob h1 */
.blob:nth-of-type(odd) h1 { 
  grid-row-start: 1
}

.blob:nth-of-type(3) h1 { 
  grid-column-start: 5;
  grid-row-start: 1

}

.blob:nth-of-type(3n + 2) h1 { 
  grid-column-start: 2;
  grid-row-start: 4
}

/* shuffle colors blob svg */
.blob:nth-of-type(even) svg path { 
  fill: var(--kim);
}

.blob:nth-of-type(2n + 5)  svg path { 
  fill: var(--abraham);
}

.blob:nth-of-type(3n + 2) svg path { 
  fill: var(--natalie);
}

.blob:nth-of-type(odd) svg { 
  grid-column: 2 / span 8;
}

.blob:nth-of-type(7) svg  { 
  grid-column: 1 / span 9;
  grid-row-start: 3 / span 7;
}


/* variables!! */
:root {
  --natalie: #E4E8D6;
}

:root {
  --abraham: #a8cdcf;
}

:root {
  --kim: #788AA8;
}

:root {
  --jp: #41917d;
}


/* ----- bonus, hovers!!!! ------*/
.blob h1,
.blob svg,
.blob:hover svg path {
 transition: .5s all ease-in-out;  
} 

.blob:hover h1 {
   transform: translate(2vw, -2vw);
}

.blob:hover svg {
   transition-delay: 0.2s;
   transform: translate(-2vw, -2vw);
}

.blob:hover svg path {
  transition-delay: 0.4s;
  fill: white;
}
